.header {
    width: 100%;
    height: 80px;
    background-color: var(--hf);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header span {
    font-size: 1.5rem; /* 24px -> 16px = 1rem */
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: var(--white);
    padding-right: 1.5rem;
    font-size: 1.125rem; /* 18px */
    transition: 0.2s;
}

.header a:hover {
    color: var(--contrast);
    transition: 0.5s;
    transform: scale(1.05);
}